{% extends 'base.html' %}

{% block title %}{{ obj.name }}{% endblock %}

{% block header %}
    {{ block.super }} Books
{% endblock %}

{% block breadcrumb %}
    <li>Books</li>
{% endblock %}
{% block content %}
    <table>
        <thead>
        <td>Name</td>
        <td>ISBN</td>
        <td>Pages</td>
        <td>Price</td>
        <td>Category</td>
        </thead>
    {% for obj in object_list %}
        <tr>
            <td><a href={{ obj.get_absolute_url }}>{{ obj.name }}</a></td>
            <td>{{ obj.isbn }}</td>
            <td>{{ obj.pages }} pages</td>
            <td>NRs. {{ obj.price }}</td>
            <td>{{ obj.get_category_display }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
